.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

a {
  text-decoration: none; /* no underline */
}

.container {
  position: relative;
  overflow: hidden;
}

.bigpic {
  display: block;
  width: 100%;
  transition: .5s ease;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #002C2A;
}

.container:focus .overlay {
  opacity: 0.8;
  cursor: pointer;
}
.container:focus .bigpic {
  width: 105%;
}

.text {
  color: white;
  font-size: 22px;
  position: absolute;
  margin: 0 10%;
  text-align: justify;
  font-weight: 100;
}
.role {
  text-align: left;
  font-style: italic;
}
.h1text {
  color: white;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

body {
  font-family: helvetica;
}
.one {
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: center;
}
.one .br {
  height: 0;
}
.one hr {
  max-width: 250px;
}
.one h1 {
  font-size: 40px;
  font-weight: 400;
}
.one h3 {
  font-size: 32px;
  font-weight: 100;
  color: grey;
}
.one i {
  margin: 0 14px;
}
.one a {
  color: rgb(70, 93, 109);
}
.one a:focus {
  color: rgb(254, 102, 16);
}


.two {
  grid-column: 2 / 5;
  grid-row: 2;
}

.two .mobileLeft {
  /*padding-left: 3em;*/
  float: left;
  width: 40%;
}
.two .mobileRight {
  float: left;
  width: 50%
}

.two .mobileBox {
  /*margin-left: 4em;*/
}

.two h1 {
  font-size: 36px;
  font-weight: 400;
}
.two h2 {
  font-size: 28px;
  font-weight: 100;
  color: grey;
}

.two h2:focus {
  color: black;
  font-weight: 400;
}


.three {
  grid-column: 1 / 5;
  grid-row: 3;
}
.four {
  grid-column: 1 / 5;
  grid-row: 4;
}

.five {
  grid-column: 1 / 5;
  grid-row: 5;
}
.six {
  grid-column: 1 / 5;
  grid-row: 6;
}
.seven {
  grid-column: 1 / 5;
  grid-row: 7;
}
.eight {
  grid-column: 1 / 5;
  grid-row: 8;
}

.nine {
  grid-column: 1 / 5;
  grid-row: 9;
}
.ten {
  grid-column: 1 / 5;
  grid-row: 10;
}
.eleven {
  grid-column: 1 / 5;
  grid-row: 11;
}
.twelve {
  grid-column: 1 / 5;
  grid-row: 12;
}
.thirteen {
  grid-column: 1 / 5;
  grid-row: 13;
}
