body {
  /*margin: 0;*/
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-gap: 10px;*/
  /*grid-auto-rows: minmax(100px, auto);*/
}
.wrapper div {
  /*border: 1px solid tomato;*/
}

a {
  text-decoration: none; /* no underline */
}




/*.wrapper div:hover {
  background-color: green;
  opacity: 0.2;
}*/


.container {
  position: relative;
  overflow: hidden;

  /*width: 50%;*/
}

.bigpic {
  display: block;
  width: 100%;
  transition: .5s ease;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #002C2A;
}

.container:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}
.container:hover .bigpic {
  width: 105%;
}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  margin: 10px 10%;
  text-align: justify;
  /*top: 50%;
  left: 40%;
  transform: translate(-35%, -50%);
  -ms-transform: translate(-35%, -50%);*/
  font-weight: 100;
}
.role {
  text-align: left;
  font-size: 14px;
  font-style: italic;
}
.h1text {
  padding: 5px 5px;
  color: white;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  margin-top:20px;
}



body {
  font-family: helvetica;
}
.one {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
.one .br {
  height: 150px;
}
.one hr {
  max-width: 250px;
}
.one h1 {
  font-size: 1.4em;
  font-weight: 400;
}
.one h3 {
  font-size: 1em;
  font-weight: 100;
  color: grey;
}
.one i {
  margin: 10px;
}
.one a {
  color: rgb(70, 93, 109);
}
.one a:hover {
  color: rgb(254, 102, 16);
}


.two {
  grid-column: 3;
  grid-row: 1;
}
.two h1 {
  margin: 10px;
  font-size: 1.2em;
  font-weight: 400;
}
.two h2 {
  margin: 10px;
  font-size: 1em;
  font-weight: 100;
  color: grey;
}

.two h2:hover {
  color: black;
  font-weight: 400;
}


.three {
  grid-column: 2 / 4;
  grid-row: 2;
}
.four {
  grid-column: 2 / 4;
  grid-row: 3;
}

.five {
  grid-column: 2 / 4;
  grid-row: 4;
}
.six {
  grid-column: 2 / 4;
  grid-row: 5;
}
.seven {
  grid-column: 2 / 4;
  grid-row: 6;
}
.eight {
  grid-column: 2 / 4;
  grid-row: 7;
}

.nine {
  grid-column: 2 / 4;
  grid-row: 8;
}
.ten {
  grid-column: 2 /4;
  grid-row: 9;
}
.eleven {
  grid-column: 2 / 4;
  grid-row: 10;
}
.twelve {
  grid-column: 2 / 4;
  grid-row: 11;
}
.thirteen {
  grid-column: 2 / 4;
  grid-row: 12;
}
